*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* Header Section */
.head-container{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

.head-img{
    width: 8rem;
}

.head-img img{
    width: 100%;
}

.head-title{
    color: white;
    height: 100%;
    align-self: flex-end;
}

.head-icon{
    background-color: white;
    opacity: .9;
    height: fit-content;
    padding: .8rem;
    margin: .5rem .5rem 0 0;
}

.head-icon i{
    font-size: 1.2rem;
}

/* Link Section */
.link-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1.3rem;
    background-color: rgb(131, 255, 255);
}

/* home section */
.image-right{
    width: 30rem;
}
.image-right img, .image1 img, .image2 img, .image3 img, .image4 img, .image-bg img{
    width: 100%;
}

.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgreen;
    padding: 0 2.5rem;
}
.left-text{
    width: 40%;
    background-color: lightskyblue;
    color: black;
    padding: 3rem;
    border: 3px solid darkblue;
    border-style: dashed;
}

/* Image Section */
.image-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.452);
    padding: 2rem 0;
}

.image1, .image2, .image3, .image4{
    width: 16rem;
}

.image1-container, .image2-container, .image3-container, .image4-container{
    position: relative;
    text-align: center;
    color: white;
}

.image-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.455);
    padding: 1rem;
    font-size: 1.5rem;
    border: 3px solid rgba(255, 0, 0, 0.493);
}

/* Card Container */

.card-container{
    background-image: url(https://github.com/Ruban2205/Web-Technology/blob/main/Exp-3/assets/images/card-section.jpg?raw=true);
    width: 100%;
    height: 70vh;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6rem;
}

.card-title{
    color: rgb(0, 255, 0);
    font-weight: 700;
    font-size: 1.5rem;
}
.card-body p{
    color: white;
}

.card-1, .card-2, .card-3{
    width: 20rem;
    text-align: center;
    padding: 1.5rem;
    background: transparent;
}
.card-img-1 img, .card-img-2 img, .card-img-3 img{
    width: 100%;
    border-radius: 100%;
    border: 5px solid black;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.427);
}

.card-img-1, .card-img-2, .card-img-3{
    position: relative;
    text-align: center;
    
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 100%;
    border: 5px solid black;
    background-color: green;
    opacity: .6;
    transition: 250ms ease-in-out;
}

.overlay:hover{
    opacity: 0;
}

/* Footer Section */
.footer-container{
    padding: 1rem;
    background-color: lemonchiffon;
}